body{
    background-color: black;
    font-family: Arial, sans-serif;
}

h2{
    font-size: 50px;
    color: whitesmoke;
    text-align: center;
}

ul{
    text-align: center;
    align-self: center;
    color: whitesmoke;
}

a{
    color: aqua;
}
h3{
    font-size: 30px;
}
hr{
    border:1px solid orange;
}

div{
    background-color: bisque;
    border: 10px solid palevioletred;
}